@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

html {
    font-family: 'Bubblegum Sans', cursive;
    background-color: #A3BCB6;
}

:root{
    --grid-cols:1;
    --grid-rows:1;  
}

#main-wrapper {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 45% 45% 1fr 1fr;
    margin-top: 5vh;
    height: 75vh;
}

#grid-resize-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

#grid-resize-container > button {
    min-width: 10vw;
}

#painter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 7rem;
    padding-bottom: 10rem;
}

#painter-container > div {
    padding-bottom: 0.75rem;
}

#logo-container {
  justify-self: center;
}

#grid-container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows),1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);  
    border: 33px solid #DADED4;
    border-radius: 33px;
    height: 60vh;
    width: 60vh;
    margin-left: 1em;
    justify-self: start;
}

#explanation-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-start: 5;
    justify-self: start;
    padding-left: 10px;
    padding-top: 2em;
}

.block {
    border: 1px dotted #584f42;
    text-align: center;
    background: #FFFFFF;
  }

  .button, .button_toggle_P, .button_toggle_G {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 20vw;
    min-height: 45px;
    line-height: 1.25;
    background: #DADED4;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    border: none;
    text-align: center;
    margin-top: 10px;
    transition: all 0.5s;
  }

#color-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 20vw;
    min-height: 30px;
    line-height: 1.25;
    background: #DADED4;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    border: none;
    text-align: center; 
    transition: all 0.5s;
}

#eraser-button {
 Margin-bottom: 2rem;
}

.activeP, .activeG, .button:hover, .button_toggle_P:hover, .button_toggle_G:hover, #color-wrap:hover {
    transform: scale(1.1);
    background: #39603D;
    color: white;
}

